# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.sdf
*.ddc

UE_MotMatch/content/startercontent/
UE_MotMatch/content/examples/
UE_MotMatch/intermediate/
UE_MotMatch/Plugins/**/Intermediate/
UE_MotMatch/saved/
UE_MotMatch/Binaries/
*.bin
*.log
UE_MotMatch/Build/Receipts/Waves-Win64-Development.target.xml
UE_MotMatch/Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
*.opensdf
*.log
UE_MotMatch/Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log

*.VC.opendb
*.VC.db
*.log
*.TGA
*.cppcheck
*.log
*.modules
*.log
*.ipch
*.dll
*.pdb
*.response
*.prev
*.pdb
*.modules
*.obj
*.exp
*.lib
*.lock
*.ide
*.ide-wal
*.db-shm
*.db-wal
*.ide-shm
*.log
*.json
UE_MotMatch/.vs/UE_MotMatch/v16/.suo
UE_MotMatch/.vs/UE_MotMatch/v15/.suo
